*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.DS_Store
dump.rdb
.mobilize
config/mob.yml
config/mongoid.yml
config/resque-pool.yml
config/resque-pool-test.rb
config/resque-pool-development.rb
